<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SVNT Flask App</title>
</head>
<body>
    <h1>Welcome to Suchi Kapur's basic Flask app!</h1>
    <p>
        The following paths conduct certain tasks:
        <ol>
            <li>This path displays #s between 1 and the specified number: /&ltint:number&gt </li>
            <li>This path displays odd #s between 1 and the specified number: /&ltint:number&gt/odd </li>
            <li>This path displays even #s between 1 and the specified number: /&ltint:number&gt/even </li>
            <li>This path displays prime #s between 1 and the specified number: /&ltint:number&gt/prime </li>

        </ol>
    </p>
    <p>
        <pre>
        ***Note***
        The imports I used are:
            from flask import *
            from sympy import *

        Both of these required:
            pip install &ltflask or sympy&gt
        </pre>
    Another note: I consulted GeeksforGeeks to create my basic flask app as I have never made one before.
    However, all function code and corresponding HTML files are written by me. <br />
    I would have created a docker file if I had more time to learn how, as I have a completely full day of classes today and before
    our interview tomorrow -- my apologies!
    </p>
</body>
</html>